<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/lib/angular/angular.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('body', function ($scope) {
            $scope.id = '';
            $scope.text = 'click connect button to build websocket';
            $scope.isConnect = false;
            $scope.gameOver = false;
            $scope.disSendCard = true;
            
            $scope.connect = function () {
                if ($scope.isConnect) return;

                $scope.connection = new WebSocket('ws://' + window.location.host);
                
                $scope.connection.onopen = function () { $scope.gameOver = false; $scope.isConnect = true; $scope.$apply(); }
                $scope.connection.onclose = function () { }
                $scope.connection.onmessage = function (e) {
                    var message = String(e.data);
                    console.log(message);
                    switch (parseInt(message.split(',')[0])) {
                        case 0:
                            $scope.text = '等待其他對手進入';
                            $scope.disSendCard = true;   
                            break;
                        case 1:
                            $scope.text = '遊戲開始';
                            $scope.disSendCard = false;
                            break;
                        case 2:
                            if ($scope.disSendCard) {
                                $scope.text = '等待對手出招';
                            }
                            else {
                                $scope.text = '對手已出招';
                            }
                            break;
                        case 3:
                            var tmp = message.split(',');
                            $scope.text = '你出了 ' + tmp[1] + ' 對手出了 ' + tmp[2] + ' ... '
                            $scope.text += '平手 請再次出招';
                            $scope.disSendCard = false;
                            break;
                        case 5:
                            $scope.text = '玩家中離 ... 等待其他對手進入';
                            $scope.disSendCard = true;   
                            break;
                        case 100:
                        case 101:
                            var tmp = message.split(',');

                            $scope.text = '你出了 ' + tmp[1] + ' 對手出了 ' + tmp[2] + ' ... '
                            $scope.text += '你' + (tmp[0] == 100 ? '贏' : '輸') + '了';
                            
                            $scope.gameOver = true;
                            $scope.isConnect = false;
                            $scope.disSendCard = true;
                            break;
                    }
                    $scope.$apply();
                }
            }

            $scope.disconnect = function () {
                $scope.connection.close();
                $scope.disSendCard = true;
                $scope.isConnect = false;
                $scope.text = 'click connect button to build websocket';
            }

            $scope.send = function (value) {
                $scope.disSendCard = true;
                $scope.connection.send(value);
            }
        });
    </script>
</head>
<body ng-controller="body">
    <label ng-show="gameOver">遊戲結束</label>
    <br />
    <label>{{text}}</label>
    <hr />
    <button ng-hide="isConnect" ng-click="connect()">{{gameOver && 'Re' || 'Connect'}}</button>
    <button ng-show="isConnect" ng-click="disconnect()">Disconnect</button>
    <hr />
    <button ng-disabled="disSendCard" ng-click="send('SHOTGUN')">剪刀</button>
    <button ng-disabled="disSendCard" ng-click="send('ROCK')">石頭</button>
    <button ng-disabled="disSendCard" ng-click="send('PAPER')"> 布 </button>
</body>
</html>